.top-menu3 {
  display: flex;
  justify-content: space-between;
}
.top-menu3 p {
  text-transform: uppercase;
  font-size: 16px;
  cursor: pointer;
}
.dokumenti {
  color: #ffc436;
  border-bottom: solid #ffc436;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  text-align: center;
  margin-left: 2px;
}

.docs {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
}
.my-docs {
  display: flex;
  padding-left: 25px;
  transform: translateY(10%);
}
.my-docs h3 {
  transform: translateY(-8%);
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #333;
}
.table-search {
  position: absolute;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  padding-left: 5px;
}
.table-input {
  width: 320px;
  height: 34px;
  padding-left: 32px;
  margin-left: 8px;
  border-radius: 8px;
  border: 1px solid #7c7777;
}
.table-search-button {
  background-color: #ffc436;
  height: 26px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  padding: 4px 20px;
  color: #333333;
  transform: translateX(-110%);
}
.search-input2 {
  width: 320px;
  height: 34px;
  padding-left: 32px;
  margin-left: 8px;
  border-radius: 8px;
  border: ridge 1px #7c7777;
}

.button-task3 {
  margin-left: 15px;
  transform: translateY(-5%);
  background-color: #ffc436;
  height: 32px;
  width: 182px;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: #333333;
}

#top-row {
  background-color: #333;
  color: #fff;
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
}
#iconButton {
  width: 16px;
  filter: invert(100%) sepia(0%) saturate(7487%) hue-rotate(146deg)
    brightness(101%) contrast(103%);
}
#iconButton:last-child {
  width: 16px;
  filter: invert(14%) sepia(4%) saturate(19%) hue-rotate(321deg) brightness(98%)
    contrast(83%);
}
.css-11jz6xw-MuiButtonBase-root-MuiButton-root:hover {
  background-color: #333 !important;
}
